@charset "UTF-8";

div.container {
	font-family: "メイリオ";
	font-size: 120%;
	margin: 0 1% 0 1%;
	width: 98%;
}

/*header部分ここから*/
header.header-template {
	margin: 0 0 2% 0;
	padding: 1% 0 0 0;
	width: 100%;
}

h1.header-title {
	text-align: center;
}

h1.header-title a {
	border-top: 2px solid aquamarine;
	border-bottom: 2px solid aquamarine;
	color: blue;
	text-decoration: none;
}

nav.header-nav {
	background-color: rgb(65, 224, 131);
	border: 1px dashed aquamarine;
	border-radius: 15px;
	color: blue;
	margin: 0 5% 0 5%;
}

nav.header-nav li {
	display: inline;
	font-weight: bold;
	list-style: none;
}

nav.header-nav li:after {
	content: ">";
	padding: 0 1% 0 1%;
}

nav.header-nav li:last-child:after {
	content: "";
}

nav.header-nav a {
	color: blue;
	text-decoration-line: none;
}

nav.header-nav a:hover {
	text-decoration-line: underline;
}

/*header部分ここまで*/
div.main-content {
	align-items: flex-start;
	display: flex;
}

/*sidebar部分ここから*/
div.sidebar-template {
	background-color: blanchedalmond;
	border: 2px solid aquamarine;
	border-radius: 10px;
	color: black;
	margin: 0 1% 0.5% 0;
	padding: 0.5% 1% 1% 1%;
	width: 26%;
}

nav.sidebar-nav h2 {
	color: chocolate;
}

nav.sidebar-nav li {
	border-top: 1px dashed black;
	padding: 0 0 1% 0;
}

nav.sidebar-nav li:last-child {
	border-bottom: 1px dashed black;
}

nav.sidebar-nav a {
	color: blue;
	text-decoration-line: none;
}

nav.sidebar-nav a:hover {
	text-decoration-line: underline;
}

/*sidebar部分ここまで*/

/*article部分ここから*/

/*article共通部分ここから*/
div.article-template {
	background-color: whitesmoke;
	border: 2px dashed aqua;
	border-radius: 15px;
	color: black;
	margin: 0 0 0.5% 0;
	padding: 0.5% 1% 1% 1%;
	width: 67%;
}

h2.article-title span {
	color: rgb(5, 146, 139);
	border-bottom: 2px dotted black;
}

h2.article-title span:hover {
	border-bottom: none;
}

div.article-account-box {
	background-color: #c1ffff;
	border: 1px solid aquamarine;
	border-radius: 15px;
	border: 1px solid aquamarine;
}

div.article-account-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

/*article共通部分ここまで*/

/*index.htmlのブロック表記ここから*/
div.article-figure {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	justify-content: space-around;
	overflow-wrap: break-word;
}

div.article-figure-block {
	background-color: aquamarine;
	border: 1px solid black;
	border-radius: 15px;
	margin: 0.5% 0.5% 0 0.5%;
	padding: 0 1% 0 1%;
	text-align: center;
	width: 45.5%;
}

h4.article-figure-title {
	background-color: antiquewhite;
	padding: 1% 0 1% 0;
}

h4.article-figure-title a {
	color: blue;
	text-decoration-line: none;
}

h4.article-figure-title a:hover {
	text-decoration-line: underline;
}

/*index.htmlのブロック表記ここまで*/

/*jspのユーザーデータ出力の表記ここから*/

/*jspのユーザーデータ出力の表記ここまで*/

/*article部分ここまで*/

/*footer部分ここから*/
footer.footer-template {
	background-color: yellowgreen;
	color: none;
}

/*footer部分ここまで*/